
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@311;500;700&display=swap');

#main_wrapper{

    width:95%;
    /* min-width: 412px; */
    margin: auto;
}

h1,h2,p,ul,li,button,a{
    font-family: 'Raleway',Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}


/******************* header *****************/

#logo {
   
    margin-left: 15px
}

header{

    display: flex;
    justify-content: space-between;
}




nav ul{
    display: flex;
    
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 50px;
}

#nav_bar li{
    
    color: #0065FC;
    margin-right:50px;
    padding-top:15px ;
    
}

#nav_bar li:hover{
    border-top: 2px solid #0065FC;
    /* cursor: pointer; */
    color:#0065FC ;
}

a{
    text-decoration:none; 
    color: black;
    font-weight: 500;
}

#nav_bar a:hover{
    color:#0065FC ;

}



#formulaire{

    display: flex;
}


#marker {
    
      display: flex;
      
      border-radius: 10px 0 0 10px ;
      background-color: #F2F2F2;
      padding: 15px;

}



#bouton{

    border-style: none;
    background-color: #0065FC;
    color: white;
    padding: 13px;
    border-radius: 0 10px 10px 0 ;
    font-weight: bold;
}

#boutonResponsive{

    background-color:#0065FC ;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    border: none;
    display: none;
}

#boutonResponsive i{
color: white;
font-size: 110%;

}

input{
padding: 8px;
font-weight: bolder;
font-size: 20px;
color: black;
padding-bottom: 12px;
border:0.3px solid #F2F2F2 ;
}






#petit-texte {

    font-size:medium;
    margin: 0.2%  auto  2%  auto;
}

#info1{
    margin-top: 30px;
        display: flex;
    }


#info{
margin: 6px  0 30px 2px;
padding: 0;

}



.color-Info{
width: 20px ;
height:20px ;
border:1px solid #e2dfdf;
color: #0065FC;
border-radius: 50px;
padding: 5px;
margin-right: 5px;
text-align: center;
}


/*********************** filtres ************************/

#filtres {

    display: flex;
    margin-top: 30px;
}

#filtres p{
height: 20px;
margin-right: 10px;
    font-weight:bold;
}


.ul-filtres{
    
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 10px 30px;
   
} 

.ul-filtres li{
    display: flex;
    flex-direction:row;
    box-sizing: content-box;
    align-items: center;
    height:40px ;
    width: 160px;
    min-width: 150px;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
    margin-right: 50px;
    
    border: 2px solid #F2F2F2;
    
    border-radius: 50px;
    
} 

/* .ul-filtres li:nth-child(1){

    border-style: none;
    width:100px ;
    min-width: 50px;
    margin-right:0;
} */



.ul-filtres li:nth-child(4){

    width: 210px;
}



.icone{
    position: relative;
    right: 10%;
    margin-right: 1px;
    width: 45px ;
    height: 45px ;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.puce{

    color:#0065FC;
    position: absolute;
    top: 35%;
    left: 30%;
    
   
}

/* .ul-filtres li:nth-child(1):hover{
    background-color: white;
    color: black;
    width: 100px;
    font-size: initial;
} */

.ul-filtres li:hover{

    background-color:#0065FC ;
    color: white;
   
    
}

.ul-filtres div:hover{

    background-color: white;
   
}






@media (max-width:992px){

    /***************************** HEADER ********************************/

    .ul-filtres{

        flex-wrap: wrap;
    }
 .ul-filtres li{

    margin: 2%;
 }

}

@media (max-width:768px){

header{

    display: block;
}

#logo{

    text-align: center;
}

nav ul{

    text-align: center;
    margin-bottom: 1px solid black;
    width: auto;
    padding: 0;
    margin: 10px 0 20px 0;
}

#nav_bar li{

padding-bottom:15px ;
border-bottom: 3px solid #F2F2F2 ;
width: 100%;
margin:0;

    
}

#nav_bar li:hover{
    border-top: none;
    border-bottom: 3px solid #0065FC ;

}

.premier-h2 {

    margin: 30px 50px 20px 2% ;
   
}

#filtres{

    display: block;
}

#filtres p{

    margin-left: 2%;
    margin-bottom: 0;
}

.ul-filtres{

    margin-left: 3%;
}



#petit-texte{

    margin-left: 2%;
    margin-bottom: 40px;
}

#info1{

    margin-left: 2%;
}

#info{

    margin:6px 30px 30px 10px
}

#marker{
    position: relative;
            width: 6%;
        }
        #marker i{
    
            position: absolute;
            top: 30%;
            left:40%;
            font-size:130%
        }

#bouton{
display: none;
}

#boutonResponsive{
position: absolute;
  /* position: relative; */
right: 1px;
padding: 0;
display: inline-block;
}

#formulaire{
    margin-left: 2%;
    width: auto;
}

input{
    width: 100%;
    min-width: 200px;
    height: 55px;
    padding-right:10px ;
    border-radius: 0 20px 20px 0;
    
}

form{
    margin-right: 1%;
    position: relative;
    width: 100%;
}


}

